<!-- <div class="jumbotron bg">
  <h1 class="display-3 shadow" style="text-align: center">DOODLE STUDIO</h1>
  <p class="lead interior-font shadow" style="text-align: center ">CREATIVIDAD EN UN SOLO ESPACIO!</p>
  <hr class="my-4 interior-font">
</div> -->
<div id="header_grafik">
  <img src="/assets/image/LOGO-GRAFIK-banner.png">
</div>
<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        Grafik empresa dedica al diseño grafico y publicidad, nuestro trato es profecional, 
      </p>
    </div>
  </div>
</div>